h1{
    text-align: center;
    color: red;
}
a{
justify-content: center;
}
p{
    text-align: center;
    color:red;
}
ul {
    text-align: center;
    color:brown;
    font-weight: 800;
}
li{
    text-align: center;
}